body {
    background: #DCDCDC;
}

#wrapper {
    width: 800px;
    margin: 40px auto;
    background: #ececec;
    padding: 20px;
    border: 1px solid #929292;
    border-radius: 5px;
}

#wrapper > h1 {
    text-align: center;
}

.login,
.register,
.password-reset,
.profile {
    width: 100%;
}

.login-actions {
    height: 50px;
    padding-top: 10px;
}

.container {
    width: inherit;
}

.google-login {
    padding: 55px 0 0 55px;
}

header {
    height: 45px;
    background: #ECECEC;
    border-bottom: 1px solid #929292;
}

.logout {
    float: right;
    margin: 7px 15px 0 0;
}

#logout-btn {
    visibility: hidden;
}
#logout-btn.show {
    visibility: visible !important;
}

.group-btn {
    width: 100%;
}

.margin-left-15 {
    margin-left: 15px;
}

/* Google Place autocomplete */
.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}