<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="609813844746-brofareknccfdh5brvqviua6vh8ak51j.apps.googleusercontent.com">
    
    
    <title>{{ template "title" . }}</title>

    <!-- Bootstrap -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">

    {{ template "styles" . }}

    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
        <header>
            <div class="logout">
                <button id="logout-btn" type="button" class="btn btn-primary btn-sm">Logout</button>
            </div>
        </header>
        <div id="wrapper">
            {{ template "content" . }}
        </div>

    
    
    <!-- vendor scripts -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    

    <!-- application scripts -->
    <script src="/static/js/main.js"></script>
    {{ template "scripts" . }}

  </body>
</html>