{{ define "title" }} Change password | Authentication project {{ end }}

{{define "styles" }}

{{ end }}

{{define "scripts" }}
<script src="/static/js/change-password.js"></script>
{{ end }}

{{ define "content" }}
<div class="register">
    <form>
        <div id="password-input" class="form-group">
            <label class="control-label" for="password">New Password:</label>
            <input type="password" class="form-control" name="password"  id="password" aria-describedby="password">
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        <div id="password2-input" class="form-group">
            <label class="control-label" for="password2">Repeat password:</label>
            <input type="password" class="form-control" id="password2" aria-describedby="password2">
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        <div class="login-actions"> 
            <div class="pull-left">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>

    </form>
</div>
{{ end }}