{{ define "title" }} Login | Authentication project {{ end }}

{{define "styles" }}

{{ end }}

{{define "scripts" }}
<script src="/static/js/login.js"></script>
<script>
    

    
</script>

{{ end }}

{{ define "content" }}
<h1>Login</h1>
<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="custom-login">
                    <form>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" name="email" value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" name="password" value="" class="form-control">
                        </div>
                        <div class="login-actions"> 
                            <div class="pull-left">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                            <div class="pull-right">
                                <a href="/register" type="button" class="btn btn-primary">Register</a>
                                <a href="/password-reset" type="button" class="btn btn-primary">Forgot password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="google-login">
                    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>


    

    

{{ end }}