{{ define "title" }} Password reset | Authentication project {{ end }}

{{define "styles" }}

{{ end }}

{{define "scripts" }}
<script src="/static/js/password-reset.js"></script>
{{ end }}

{{ define "content" }}
<h1>Register page</h1>
<div class="password-reset">
    <div class="email-sent-message message">
        <p class="text-center">
            Email with password reset link has been sent to you
        </p>
        
    </div>
    <div class="email-error-message message">
        <p class="text-center">
            Email you provided does not exist
        </p>
        <div>
            <button id="show-form" type="button" class="btn btn-primary center-block">Try again</button>
        </div>
    </div>
    <form>
        <div id="email-input" class="form-group">
            <label class="control-label" for="email">Please enter your email:</label>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" name="email" id="email" aria-describedby="email" autocomplete="off">
            </div>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        <div class="login-actions"> 
            <div>
                <button type="submit" class="btn btn-primary center-block">Submit</button>
            </div>
        </div>

    </form>
</div>
{{ end }}