{{ define "title" }} Password reset failed | Authentication project {{ end }}

{{define "styles" }}

{{ end }}

{{define "scripts" }}

{{ end }}

{{ define "content" }}
<h1>Password reset failed</h1>
<div class="password-reset">
    <div class="message">
        <p class="text-center">
            <div>
                <a href="/password-reset" type="button" class="btn btn-primary center-block">Send reset password email again</a>
            </div>
        </p>
        
    </div>
</div>
{{ end }}