{{ define "title" }} Profile | Authentication project {{ end }}

{{define "styles" }}

{{ end }}

{{define "scripts" }}
<script src="/static/js/profile.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE00uyLc41HEqEk9eGd414MHiZR1zPEfo&libraries=places&callback=initializeGeoPlaceAPI" async defer></script>
<script>
    var autocomplete;
    function initializeGeoPlaceAPI() {
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {HTMLInputElement} */(document.getElementById('address')),
            { types: ['geocode'] });
            google.maps.event.addListener(autocomplete, 'place_changed', function() {

        });
    }
</script>
{{ end }}

{{ define "content" }}
<h1>Fill Profile Information Page</h1>
<br>
<div class="profile">
    <form>

        <div id="fullname-input" class="form-group">
            <label class="control-label" for="full_name">Full name:</label>
            <input type="text" class="form-control" name="full_name" id="full_name" aria-describedby="full_name" autocomplete="off" disabled>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        <div id="email-input" class="form-group">
            <label class="control-label" for="email">Email:</label>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" name="email" id="email" aria-describedby="email" autocomplete="off" disabled>
            </div>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        <div id="address-input" class="form-group">
            <label class="control-label" for="address">Address:</label>
             <input type="text" class="form-control" name="address" id="address" aria-describedby="address" disabled>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

         <div id="telephone-input" class="form-group">
            <label class="control-label" for="telephone">Telephone:</label>
            <input type="text" class="form-control" name="telephone" id="telephone" aria-describedby="telephone" autocomplete="off" disabled>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        

        <div class="login-actions"> 
            <div class="group-btn">
                <button id="edit-profile" type="button" class="btn btn-primary">Edit Profile</button>
                <button id="cancel-edit" type="button" class="btn btn-primary pull-right margin-left-15">Cancel</button>
                <button id="save-profile" type="submit" class="btn btn-primary pull-right" disabled>Save</button>
            </div>
        </div>

    </form>
</div>

{{ end }}