{{ define "title" }} Register | Authentication project {{ end }}

{{define "styles" }}

{{ end }}

{{define "scripts" }}
<script src="/static/js/register.js"></script>
{{ end }}

{{ define "content" }}
<h1>Register page</h1>
<div class="register">
    <form>
        <div id="email-input" class="form-group">
            <label class="control-label" for="email">Email:</label>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" name="email" id="email" aria-describedby="email" autocomplete="off">
            </div>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        <div id="password-input" class="form-group">
            <label class="control-label" for="password">Password:</label>
            <input type="password" class="form-control" name="password"  id="password" aria-describedby="password">
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        <div id="password2-input" class="form-group">
            <label class="control-label" for="password2">Repeat password:</label>
            <input type="password" class="form-control" id="password2" aria-describedby="password2">
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>

        <div class="login-actions"> 
            <div class="pull-left">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>

    </form>
</div>
{{ end }}